<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739771999940-6pv0f4sfd3jn1rt3ub8methhlevg4p0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739771999940-6pv0f4sfd3jn1rt3ub8methhlevg4p0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739771999940-2do41blkm0j0ji9ijj33k9r4n35p1pt5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5C-5yjcKBaN6sIhQ3Z3J5VXxVY-XVDi8</string>
	<key>GCM_SENDER_ID</key>
	<string>739771999940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wacef.AcePoint</string>
	<key>PROJECT_ID</key>
	<string>acepoint-9cd79</string>
	<key>STORAGE_BUCKET</key>
	<string>acepoint-9cd79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739771999940:ios:7a7a1e9bdb3eff77fd8b91</string>
</dict>
</plist>